{{ if eq .Site.Params.sidenav "true" }}
<nav class="side">
{{ if eq .Site.Params.sidemenu "auto" }}
    {{ $currentPage := . }}
    {{ range .Site.Home.Pages}}
        <li><a href={{ .Permalink}}>{{ .Title }}</a>
        <ul>
            {{ range .Pages }}
            <li {{ if eq .Permalink $currentPage.Permalink  }}class="active"{{ end }}> <a href={{ .Permalink}}>{{ .Title }}</a>
                <ul>
                    {{ range .Pages }}
                    <li> {{ .Title }}</li>
                    {{ end }}
                </ul>
        
            </li>
            {{ end }}
        </ul></li>
    {{ end }}
{{ else }}
    {{ if .Site.Menus.main }}
    <ul class="nav navbar-nav">
        {{ range sort .Site.Menus.main }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
{{ end }}
</nav>
{{ end }}