h2 svg {
  height: 2.18rem;
  vertical-align: text-bottom;
  margin: 0 5px;
}
.e-content svg.icon {
height: 32px;
position: relative;
left: -23px;
top: 40px;
}
h2 {
margin-top: 0;
}
.profile {max-width: 50%;}
.fullwidth.flex {
  display: flex;
  flex-basis: row;
}
.cards {
  display: flex;
  height: 150px;
  width: 100%;
}
.card {
  width: 170px;
  height: 170px;
  background: white;
  color: #222;
  font-weight: 300;
  font-size: 14pt;  
  text-decoration: none;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  background-color: var(--ui-service-cds-layer-01, #ffffff);
  padding: calc(.75rem - 2px);
  border: 2px solid var(--ui-service-cds-layer-01, #ffffff);
  transition: .15s cubic-bezier(.2,0,.38,.9);  
}
.card:hover {
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}
.card:active {
  background-color: #ffffff;
  border-color: #0f62fe;
}
.card .icon {
  width: 48px;
  margin-bottom:2rem;
/*  padding: 0.5rem 1rem 1rem 0.5rem; */
}

.e-content table td .icon {
  width: 18px;height: 18px;
  left: 0;
  top: 0;
  }
table td .checkyes { fill: #24a148}
table td .checkno { fill: #fa4d56}
